<!-- entries/templates/entries/entry_confirm_delete.html -->

{% extends "entries/base.html" %}
{% block content %}
    <form method="post">{% csrf_token %}
        <p>
            Вы уверены, что хотите удалить?
            <em>"{{ entry.title }}"</em>
            создано {{ entry.date_created|date:'Y-m-d' }}?
        </p>
        <input type="submit" value="Подтвердить">
    </form>
    <a href="{% url 'entry-detail' entry.id %}">
        <button>Отменить</button>
    </a>
{% endblock %}